{% extends "_base.html" %}
{% block body %}
<div class="slide slide-team">
  <div class="kicker"><span>BUILT BY</span></div>
  {% if team %}
  <div class="team">{{ team }}</div>
  {% endif %}
  <div class="links">
    {% if github_url %}<div class="link-row">⌥ {{ github_url.replace('https://', '').replace('http://', '') }}</div>{% endif %}
    {% if demo_url %}<div class="link-row">→ {{ demo_url.replace('https://', '').replace('http://', '') }}</div>{% endif %}
    <div class="link-row">★ devpost.com/{{ devpost_url.split('/')[-1] }}</div>
  </div>
  <div class="cta-line">{{ cta or 'Link in bio' }}</div>
  <div class="slide-num">4 / 4</div>
</div>
{% endblock %}
